{% load static %}
{% load webpush_notifications %}

<!DOCTYPE html>
<html>

<head>
    <title>{{title|default:"Alerts"}} | {{organization.name}} (Embed)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
        integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'public/css/public.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/pym.js@1.3.2/dist/pym.v1.min.js" integrity="sha256-t/c2FEpMPIah5iD5TZGzwO7crawziIID5VTcLnw8+mY=" crossorigin="anonymous"></script>
    <base target="_blank">
    {% include 'public/css/org-css.html' %}
    {{organization.head_inject|safe}}
</head>

<body>
    <div class="container" style="padding: 5px;">
        <div id="webpush-message" hidden class="notification"></div>
        {% block content %}
        {% endblock %}
    </div>
    <script>
        var pymChild = new pym.Child();
    </script>
</body>

</html>