[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
django = ">=3.0"
social-auth-app-django = "*"
social-auth-core = {extras = ["openidconnect"],version = "*"}
social-auth-presspass = "*"
django-bulma = "*"
tweepy = "*"
django-webpush = {editable = true,git = "https://github.com/milesmcc/django-webpush.git",ref = "635220d"}
celery = "*"
unicodecsv = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
