{% load humanize %}

<div class="columns">
    <div class="column is-4">
        <a class="box card" href="{% url "management:edit_alert" org_id=organization.id pk=alert.id %}">
            <p class="heading">{{alert.channel.name}}</p>
            <p>{{alert.content}}</p>
        </a>
    </div>
    <div class="column is-4 has-text-grey">
        <p class="heading is-marginless">Published</p>
        <p class="has-bottom-margin">{{alert.published}} ({{alert.published|naturaltime}})</p>
        <p class="heading is-marginless">Last updated</p>
        <p class="has-bottom-margin">{{alert.updated}} ({{alert.updated|naturaltime}})</p>
        {% if alert.url %}
        <p class="heading is-marginless">Links to</p>
        <p class="has-bottom-margin">{{alert.url}}</p>
        {% endif %}
    </div>
    <div class="column is-4">
        Analytics info will eventually appear here.
    </div>
</div>