<canvas id="{{name}}" width="400" height="400"></canvas>
<script>
    new Chart("{{name}}", {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{values|safe}},
                backgroundColor: palette("tol-rainbow", {{values|length}}).map(function (hex) {
                    return "#" + hex
                })
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: {{keys|safe}},
        },
        options: {}
    });
</script>