<canvas id="{{name}}" width="400" height="250"></canvas>
<script>
    new Chart("{{name}}", {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{values|safe}},
                backgroundColor: palette("tol-dv", {{count}}).map(function (hex) {
                    return "#" + hex
                })
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: {{keys|safe}},
        },
        options: {
            legend: {
                position: "bottom"
            }
        }
    });
</script>