<!DOCTYPE html>
<html>

<head>
    <title>{{title|default:"Management"}} | OpenAlerts Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
        integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'management:dashboard' %}">
                    Open Alerts &bull; Management
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="topNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="topNavbar" class="navbar-menu">
                <div class="navbar-end">
                    {% if request.session.presspass_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Manage
                        </a>

                        <div class="navbar-dropdown">
                            {% for organization in organizations %}
                            <a href="{% url 'management:organization' organization.id %}"
                                class="navbar-item">{{organization.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <a href="{% url 'management:logout' %}" class="navbar-item">Log Out</a>
                    {% else %}
                    <div class="navbar-item">
                        <a href="{% url 'management:login' %}" class="button is-primary is-outlined">Log In</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% block precontent %}
    {% endblock %}
    <br>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>