{% extends 'management/base.html' %}

{% block precontent %}
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <p class="heading">Managing</p>
            <h1 class="title is-capitalized is-size-3">
                {{organization.name}}
                <span class="has-text-weight-light">
                    {% block subsection %}
                    {% endblock %}
                </span>
            </h1>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs">
                <ul>
                    <li {% if tab_scope == "overview" %}class="is-active"{% endif %}><a href={% url 'management:organization' pk=organization.id %}>Overview</a></li>
                    <li {% if tab_scope == "channels" %}class="is-active"{% endif %}><a href="{% url 'management:channel_list' organization.id %}">Channels</a></li>
                    <li {% if tab_scope == "publish" %}class="is-active"{% endif %}><a>Publish Alert</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock%}