{% extends 'management/base.html' %}

{% block precontent %}
<section class="hero is-link">
    <div class="hero-body">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item is-block">
                        <p class="heading">Managing</p>
                        <h1 class="title is-capitalized is-size-3">
                            {{organization.name}}
                            <span class="has-text-weight-light">
                                {% block subsection %}
                                {% endblock %}
                            </span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-boxed">
                <ul>
                    <li {% if tab_scope == "overview" %}class="is-active" {% endif %}><a
                            href="{% url 'management:organization' org_id=organization.id %}">Overview</a></li>
                    <li {% if tab_scope == "channels" %}class="is-active" {% endif %}><a
                            href="{% url 'management:channel_list' org_id=organization.id %}">Channels</a></li>
                    <li {% if tab_scope == "publish" %}class="is-active" {% endif %}><a
                        href="{% url 'management:create_alert' org_id=organization.id %}">Publish</a></li>
                    <li><a
                        href="{% url 'public:index' %}?org={{organization.id}}">Public View</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="actions-container">
    <div class="container">
        <div class="org-page-action">{% block action %}{% endblock %}</div>
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}