<div class="columns is-multiline" style="max-width: 100%;">
    <div class="column">
        <a href="{% url 'public:email_signup' %}" class="button is-primary is-block">Via Email</a>
    </div>
    <div class="column">
        <button id="webpush-subscribe-button" data-group="{{organization.id}}" data-url="/webpush/save_information" class="button is-primary is-fullwidth">
            Via Notifications
        </button>
    </div>
    {% if with_rss %}
    <div class="column">
        <div class="dropdown is-hoverable is-fullwidth">
            <div class="dropdown-trigger is-fullwidth">
                <button class="button is-primary is-fullwidth" aria-haspopup="true" aria-controls="rss-menu">
                    <span>Via RSS</span>
                </button>
            </div>
            <div class="dropdown-menu" id="rss-menu" role="menu">
                <div class="dropdown-content">
                    <a href="{% url 'rss:organization_feed' organization.id %}" class="dropdown-item">
                        All Alerts
                    </a>
                    <hr class="dropdown-divider">
                    {% for channel in organization.channel_set.all %}
                    <a class="dropdown-item" href="{% url 'rss:channel_feed' organization.id channel.slug %}">
                        {{channel.name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
