{% extends 'management/organization_base.html' %}

{% load paginator %}

{% block subsection %}
/ {{object.name}}
{% endblock %}

{% block action %}
<a href="{% url "management:edit_channel" org_id=organization.id pk=object.id %}" class="button is-link is-outlined">&#9998; Edit Channel</a>
<a href="{% url "management:create_alert" org_id=organization.id%}?channel={{object.id}}" class="button is-link is-outlined">+ Publish Alert</a>
{% endblock %}

{% block content %}
<div class="columns is-multiline">
    {% for alert in page_obj %}
    <div class="column is-4">
        <a href="{% url "management:edit_alert" org_id=organization.id pk=alert.id %}" class="has-text-grey">&#9998; Edit</a>
        {% include 'management/includes/alert.html' %}
    </div>
    {% empty %}
    <div class="notification">No alerts have been created. <a href="{% url 'management:create_alert' org_id=organization.id %}?channel={{object.id}}">Click here</a> to create one.</div>
    {% endfor %}
</div>
{% pagination page_obj url_parameters="" %}
{% endblock %}