{% extends 'management/organization_base.html' %}

{% block content %}
<div class="columns is-multiline">
    {% for channel in organization.channel_set.all %}
    <div class="column is-4">
        {% url 'management:channel' organization.id channel.id as url %}
        {% include 'alerts/includes/channel.html' %}
    </div>
    {% empty %}
    <div class="notification">No channels have been created. <a
            href="{% url "management:create_channel" org_id=organization.id %}">Click here</a> to create one.
    </div>
    {% endfor %}
</div>
{% endblock %}