{% extends 'management/organization_base.html' %}

{% load bulma_tags %}

{% block subsection %}
/ Channels / Delete
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-4">
        <p>Please note that because sources are links between a channel and an external input, it is not possible to
            edit them. Instead, to change a source, we recommend that you delete it and create it anew.</p>
        <hr>
        {% with source=object %}
        {% include 'management/includes/source.html' %}
        {% endwith %}
        <div class="has-text-danger">Are you sure you want to delete this source? Its alerts will not be deleted.</div>
        <br>
        <form method="POST">
            {{form}}
            {% csrf_token %}
            <button type="submit" class="button is-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}