{% extends 'management/organization_base.html' %}

{% load bulma_tags %}

{% block subsection %}
/ Channels / Delete
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-4">
        {% with channel=object %}
        {% include 'alerts/includes/channel.html' %}
        {% endwith %}
        <div class="has-text-danger">Are you sure you want to delete this channel and all of its alerts? This action
            cannot be undone.</div>
        <br>
        <form method="POST">
            {{form|bulma}}
            {% csrf_token %}
            <button type="submit" class="button is-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}