{% extends 'management/organization_base.html' %}

{% block subsection %}
/ Delete Alert
{% endblock %}

{% block content %}
<div class="column is-4">
    {% with alert=object %}
    {% include 'alerts/includes/alert.html' %}
    {% endwith %}
    <div class="has-text-danger">Are you sure you want to delete this alert? This action cannot be undone.</div>
    <br>
    <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <button type="submit" class="button is-danger">Delete</button>
    </form>
</div>
{% endblock %}