{% extends 'management/organization_base.html' %}

{% load bulma_tags %}

{% block subsection %}
/ Publish Alert
{% endblock %}

{% block content %}
{% if object %}
<h1 class="is-size-4">Edit Alert</h1>
{% else %}
<h1 class="is-size-4">Publish Alert</h1>
{% endif %}
<br>
<div class="columns">
    <div class="column is-4">
        <form method="POST">
            {% if view.edit %}
            <div class="notification">
                {{object.content}}
            </div>
            {% endif %}
            {{form|bulma}}
            {% csrf_token %}
            <br>
            <button type="submit" class="button is-link">Save</button>
            {% if object %}
            <a href="{% url 'management:delete_alert' org_id=organization.id pk=object.id %}"
                class="button is-danger is-outlined">Delete</a>
            {% endif %}
        </form>
        <hr>
        <p class="has-text-grey">
            Please note that only an alert's URL is editable after it is published. If there is an error in the content
            of an alert, we recommend deleting the alert and publishing a correction.
        </p>
    </div>
</div>
{% endblock %}