{% extends 'management/organization_base.html' %}

{% load bulma_tags %}

{% block subsection %}
/ Channels / {% if object %}Manage{% else %}Create{% endif %}
{% endblock %}

{% block action %}{% if object %}<a href="{% url "management:source_list" org_id=organization.id channel_id=object.id %}">Manage Sources</a>{% endif %}{% endblock %}

{% block content %}
<div class="columns">
    <div class="column is-4">
        <form method="POST">
            {{form|bulma}}
            {% csrf_token %}
            <br>
            <button type="submit" class="button is-link">Save</button>
            {% if object %}
            <a href="{% url 'management:delete_channel' org_id=organization.id pk=object.id %}"
                class="button is-danger is-outlined">Delete</a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}