{% extends 'management/organization_base.html' %}

{% block subsection %}
/ Channels / Edit
{% endblock %}

{% block content %}
{% if object %}
    <h1 class="is-size-4">Edit Channel</h1>
{% else %}
    <h1 class="is-size-4">Create Channel</h1>
{% endif %}

<form method="POST">
    {{form.as_p}}
    {% csrf_token %}
    <br>
    <button type="submit" class="button is-link">Save</button>
    {% if object %}
    <a href="{% url 'management:delete_channel' org_id=organization.id pk=object.id %}" class="button is-danger is-outlined">Delete</a>
    {% endif %}
</form>
{% endblock %}