{% extends 'management/organization_base.html' %}

{% load humanize %}
{% load static %}

{% block action %}
<a href="{% url "management:create_alert" org_id=organization.id %}" class="button is-link is-outlined">+ Publish Alert</a>
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
<script src="{% static 'management/js/palette.js' %}"></script>
<div class="columns">
    <div class="column is-4">
        <div class="box">
            <p class="heading">Total Subscribers</p>
            <h3 class="title is-size-3 has-text-weight-light">{{organization.subscriber_count|intcomma}}</h3>
        </div>
    </div>
    <div class="column is-4">
        <div class="box">
            <p class="heading">Latest Alert</p>
            <h3 class="title is-size-3 has-text-weight-light">{{organization.alerts.0.published|naturaltime}}</h3>
        </div>
    </div>
    <div class="column is-4">
        <div class="box">
            <p class="heading">Total Alerts</p>
            <h3 class="title is-size-3 has-text-weight-light">{{organization.alerts.count|intcomma}}</h3>
        </div>
    </div>
</div>

<div class="notification">
    Embeds, instructions, the latest alerts, and graphs will eventually be shown here.
</div>

<div class="columns">
    <div class="column is-4">
        <h4 class="is-size-6 title has-text-centered">Subscriber Breakdown</h4>
        {% include 'management/includes/doughnut_chart.html' with name="subscribers" keys=subscribers.keys values=subscribers.values count=subscribers.count %}
    </div>
    <div class="column is-8" style="height: 400px">
        <h4 class="is-size-6 title has-text-centered">Total Subscribers</h4>
        {% include 'management/includes/timeseries_chart.html' with name="subscribers_timeseries" label=subscribers_timeseries.label values=subscribers_timeseries.values %}
        <p class="has-text-grey is-italic"><small>Due to privacy concerns, data from unsubscribed users is not retained, and unsubscribed users will not affect this chart's totals.</small></p>
    </div>
</div>

<hr>
<a href="{% url 'management:edit_organization' org_id=organization.id %}" class="button is-outlined is-small is-link">&#9998; Configure Organization</a>
{% endblock %} 